<div class="weather-container" id="app">
  <div class="upper">
    <div class="app-header">
      <h1>Météo </h1>
      <img src="https://img2.freepng.fr/20180520/tg/kisspng-weather-forecasting-logo-5b01bab1b84f10.0513596515268399857549.jpg" alt="">
    </div>
    <div class="frm-group">

      

      <input id="search-input" type="text" name="input" placeholder="Pays/Ville" [(ngModel)]="input" required list="options">
      <datalist id="options" >
        <option class="test" *ngFor="let item of options " [value]="item">
      </datalist>
      
        
          
    <button (click)="searchWeather()" id="btn">Trouver</button>

   
  <div class="lower" *ngIf="tab === 'weather' && isShown">
    <h2>{{city | titlecase}}</h2>
    <div class="details">
      <h2 class="temperature">{{temp}}°C</h2>
    </div>
    <ul class="other-details">
      <li>Humidité: {{humid}}%</li>
      <li>Vent: {{windspd}}km/h</li>
    </ul>
  </div>

  </div>
</div>